<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.dxkite.debug">

    <application>
        <activity
            android:name="cn.dxkite.debug.activity.ExceptionViewActivity"
            android:label="@string/title_activity_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>